# Latex files
*.aux
*.log
*.gz
*.pdf
*.bbl
*.blg
*.xdp-*
*.toc
.xml

# Editor files
.vscode/
*.swp
.idea/

# Output files
Makefile
cmake_install.cmake
CMakeCache.txt
cmake-build-debug/
CMakeFiles/
build/
*.dat
*.out
*.o