# Latex files
*.aux
*.log
*.gz
#*.pdf
*.lof
*.lot
*.bbl
*.blg
*.xdp-*
*.toc
.xml
*.bcf
*run.xml

# Editor files
.vscode/
*.swp
.idea/

# Output files
Makefile
cmake_install.cmake
CMakeCache.txt
cmake-build-debug/
CMakeFiles/
build/
release/
debug/
*.dat
*.out
*.o
*.s

# Linkers
blitz
mdl2